<%- include('./partials/header') %>
    <div class="flex-col min-h-screen justify-start">
        <% user.cart.forEach(function(item){ %>

            <div class="flex h-full rounded-md">


                <div class="w-[25%] flex-col m-5 FACCCA rounded-md">

                    <div class="bg-[<%= item.product.bgcolor %>] h-[70%] flex justify-center items-center rounded-t-md">
                        <img class="h-[80%]" src="data:image/jpeg;base64,<%= item.product.image.toString('base64') %>"
                            alt="">

                    </div>
                    <div class="bg-[<%= item.product.panelcolor %>] h-[15%] flex items-center justify-start">
                        <h2 class="w-full px-3 py-2">Clinge Bag</h2>
                        <p class="w-full flex flex-end items-center  justify-end pr-3 text-2xl">
                            <a href="/users/add/<%= item.product._id %>"
                                class="pl-[1%] w-[20%] h-1/2 float-center rounded-[180%] bg-white"><button
                                    class="w-full">+</button></a>

                            <button id="count"
                                class="mx-3 p-[1%] flex items-center h-1/2 rounded-[10%] bg-white text-sm">
                                <%= item.quantity.toString().padStart(2, "0" ) %>
                            </button>
                            <a href="/users/subtract/<%= item.product._id %>"
                                class="pl-[1%] w-[20%] h-1/2 float-center rounded-[180%] bg-white"><button
                                    class="w-full">-</button></a>
                            <!-- <button onclick="increase()" class="w-full">+</button> -->


                         </p>
                    </div>
                    <div
                        class="bg-[<%= item.product.panelcolor %>] border-t-4 border-white-600 h-[15%] flex items-center justify-start rounded-b-md">
                        <h2 class=" w-full pl-3 ">Net Total</h2>
                        <p class=" w-full flex justify-end px-3 py-2 text-1xl">₹ <%= item.product.price %>
                        </p>
                    </div>
                </div>
                <div class="mx-5 w-[50%] mb-[10%]">
                    <form action="">
                        <h1 class="text-xl mb-4">Price Breakdown</h1>
                        <div class="w-full mx-3">

                            <div class="mb-1 w-full flex items-center">
                                <h4 class="w-full">Total MRP</h4>
                                <p class="w-full flex justify-between">₹ <%= item.product.price %>
                                </p>
                            </div>
                            <div class="mb-1 w-full flex items-center">
                                <h4 class="w-full">Discount on MRP</h4>
                                <p class="w-full flex justify-between">₹ <%= (item.product.discount*item.product.price)/100 %>
                                </p>
                            </div>
                            <div class="mb-1 w-full flex items-center">
                                <h4 class="w-full">Platfrom Fee</h4>
                                <p class="w-full flex justify-between">₹ <%= platformFee %>
                                </p>
                            </div>
                            <div class="mb-1 w-full flex items-center">
                                <h4 class="w-full">Shipping Fee</h4>
                                <p class="w-full flex justify-between">₹ <%= shippingFee %>
                                </p>
                            </div>

                        </div>
                        <p class="w-2/3 my-4 h-[1px] bg-[#DED0CC]"></p>
                        <div class="mb-1 w-full flex items-center">
                            <h4 class="w-full font-semibold">Total Amount</h4>
                            <p class="w-full flex justify-between ml-7">₹ <%= item.product.price - (item.product.discount*item.product.price)/100 + platformFee %>
                            </p>
                        </div>

                        <input class="text-white rounded-md mt-4 bg-zinc-900 px-5 py-2" type="submit"
                            placeholder="Submit" value="Place Order">
                        <a href="/users/removecart/<%= item.product.id %>"
                            class="ml-[20%] text-white rounded-md mt-4 bg-red-500 px-5 py-2">Remove From cart</a>

                    </form>

                </div>

            </div>
            <% }) %>
    </div>
    <!-- <script>
    let count = 1;

    function updateUI() {
      document.getElementById("count").innerText =
        count.toString().padStart(2, "0");
    }

    function increase() {
      count++;
      updateUI();
    }

    function decrease() {
      if (count > 1) {
        count--;
        updateUI();
      }
    }
  </script> -->

    <%- include('./partials/footer') %>